absl-py
aiohttp
aiosignal
ami2py
anyio
asgiref
astunparse
async-timeout
asynctest
attrs
bitsets
blis
boto3
botocore
cached-property
cachetools
catalogue
certifi
cffi
charset-normalizer
clang
click
colorama
concepts
construct
cycler
cymem
Cython
dataclass-type-validator
datasets
dill
et-xmlfile
fastapi
filelock
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-WTF
flatbuffers
fonttools
frozenlist
fsspec
future
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
gunicorn
h11
h5py
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kafka-python
keras
Keras-Preprocessing
kiwisolver
langcodes
Markdown
MarkupSafe
matplotlib
multidict
multiprocess
murmurhash
neo4j
nltk
numpy
oauthlib
opencv-python
openpyxl
opt-einsum
packaging
pandas
pathy
Pillow
portalocker
preshed
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pyDeprecate
pymongo
pyparsing
python-crfsuite
python-dateutil
pytorch-lightning
pytz
pyvi
pywin32
PyYAML
rank-bm25
regex
requests
requests-oauthlib
responses
rsa
s3transfer
sacrebleu
sacremoses
scikit-learn
scipy
sentencepiece
six
scikit-learn
sklearn-crfsuite
smart-open
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
thinc
threadpoolctl
tokenizers
torch
torchmetrics
torchtext
tqdm
transformers
typer
typing-extensions
underthesea
underthesea-core
Unidecode
urllib3
uvicorn
vncorenlp
wasabi
watchdog
Werkzeug
wincertstore
wrapt
WTForms
xxhash
yarl
zipp
